body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  float: left;
  margin-left: 20%;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-bottom: 150px;
}

.bottom {
  color: red;
}

.main {
  font-size: 20pt;
}

.big {
  font-size: 30pt;
  text-decoration: underline;
}

.head {
  font-size: 40pt;
  margin-bottom: 20px;
}

.epicodus {
  margin-top: 50px;
  margin-bottom: 50px;
}

.box1 {
  width: 75%;
  border: dotted black;
  padding-bottom: 15px;
  border-width: 5px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}

.about {
  float: right;
  color: green;
  text-align: justify;
  padding: 15px;
  margin-right: 10%;
  width: 30%;
  margin-bottom: 200px;
}

.repos {
  margin-top: 400px;
  color: blue;
  margin-right: 40%;
  width: 40%;
  margin-bottom: 200px;

}
.column1 {
  height: auto;
  float: left;
  width: 400px;
  margin-right: 100px;
}

.column2 {
  height: auto;
  float: left;
  width: 400px;
}

.column3 {
  
  height: auto;
  float: left;
  width: 400px;
}