/* ENTIRE */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b2b4a9;
  color: white;
  font-family: 'Quicksand', sans-serif!important;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: black;
  text-decoration: none;
}

#header{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18pt;
  margin-bottom: 20px;
}
 

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* gap: 200px; */
  font-size: 18pt;
  margin-top: 20px;
  margin-right: 20px;
}

.footer-section {
  display: flex;
  flex-direction: row;
  gap: 80px;
}


/* SPLASH PAGE */

.main-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 75px;
}

.stars {
  width: 100px;
  height: auto;
}

#first-name {
  position: relative;
  width: 600px;
  height: auto;
}

#last-name {
  position: relative;
  width: 600px;
  height: auto;
}


#photo {
  position: relative;
  height: 500px;
  width: auto;
  border-radius: 200px 200px 0 0;
  float: center;
}

/* HEADER/FOOTER LINKS */

#home {
  transition: 0.3s;
}

#home:hover{
  cursor: pointer;
  color: black;
}

#about {
  transition: 0.3s;
}

#about:hover{
  cursor: pointer;
  color: black;
}
#projects {
  transition: 0.3s;
}

#projects:hover{
  cursor: pointer;
  color: black;
}

#other:hover{
  cursor: pointer;
  color: black;
}

#resume {
  transition: 0.3s;
}

#resume:hover {
  cursor: pointer;
  color: black;
}

#misc {
  transition: 0.3s;
}

#misc:hover {
  cursor: pointer;
  color: black;
}


/* ABOUT SECTION */

.about {
  display: none;
  margin-top: 30px;
}

.about-img {
  margin-left: 20%;
  max-width: 500px;
  height: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

#about-container{
  display: flex;
 justify-content: center;
 align-items: center;
}

#about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  width: 900px;
  height: 450px;
  border: 1px solid white;
  border-radius: 20px;
  font-family: 'Quicksand', sans-serif!important;
  font-size: 14pt;
  color: black;
  background-color: #eee9de75;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 125px;
  border-bottom: solid white 1px;
}

#S1a {
  height: 123px;
  width: 125px;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px 0px 0px 0px;
  
}

#S1a:hover {
  background-color: #eee9de; 
}

#S1b {
  font-family: 'Roboto Mono', monospace !important;
  font-size: 24pt;
  height: 125px;
  width: 775px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 0px 20px 0px 0px;
  transition: 0.3s;
}

.smol {
  font-size: 12pt;
}

#S1b:hover {
  background-color: #eee9de;
}

.smiley {
  height: 80px;
  width: 80px;
}


.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-bottom: 1px solid white;
}

.S2a {
  height: 200px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-right: 1px solid white;
  transition: 0.3s;
}

.S2a:hover {
  background-color: #eee9de;
}

.S2b {
  height: 200px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: 0.3s;
}

.S2b:hover {
  background-color: #eee9de;
}

.section3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 125px;
}

#S3a {
  height: 125px;
  width: 775px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 0px 0px 0px 20px;
  transition: 0.3s;
}

#S3a:hover {
  background-color: #eee9de;
}

#S3b {
  height: 125px;
  width: 125px;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 0px 0px 20px 0px;
  transition: 0.3s;
}

#S3b:hover {
  background-color: #eee9de;
}

/* PROJECT SECTION */

.projects {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 775px;
}

.project-png {
  width: 400px;
  /* margin-left: 20%; */
}

.cirlces {
  background-color: white;
  border-radius: 50%;
}

.project-images {
  border-radius: 50%;
  height: 225px;
  opacity: 0.5;
  transition: 0.3s;
}

.project-images:hover {
  cursor: pointer;
  opacity: 1;
  height: 250px;
}

/* OTHER SECTION */

.other {
  display: none;
}

/* RESUME SECTION */

.resume {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 20px;
}

#hm-resume {
  width: auto;
  height: 550px;
  border-radius: 5%;
  transition: 0.3s;
}

#hm-resume:hover {
  height: 1000px;
}