/* ENTIRE */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b2b4a9;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

#header{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: monospace;
  font-size: 14pt;
  margin-bottom: 20px;
}
 

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  font-family: monospace;
  font-size: 14pt;
  margin-top: 20px;
}

/* SPLASH PAGE */

.splash-main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#first-name {
  position: relative;
  width: 600px;
  height: auto;
}

#last-name {
  position: relative;
  width: 600px;
  height: auto;
}


#photo {
  position: relative;
  height: 500px;
  width: auto;
  border-radius: 45% 45% 0% 0%;
  float: center;
}

/* HEADER/FOOTER LINKS */

#about:hover{
  cursor: pointer;
  color: black;
}

#projects:hover{
  cursor: pointer;
  color: black;
}

#other:hover{
  cursor: pointer;
  color: black;
}

#resume:hover {
  cursor: pointer;
  color: black;
}


/* ABOUT SECTION */

.about {
  display: none;
  margin-top: 30px;
}

#about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#about-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 960px;
  height: 640px;
  /* padding: 5px 0;
  text-align: center; */
  color: black;
  justify-content: center;
}

.about-img {
  max-width: 500px;
  height: auto;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 320px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px 0;
}

.section-content {
  /* width: 280px;
  height: 280px; */
  padding: 10px;
  text-align: center;
  font-family: monospace;

}

/* PROJECT SECTION */

.projects {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: auto;
}

.project-images {
  border-radius: 50%;
  max-height: 300px;
}

/* OTHER SECTION */

.other {
  display: none;
}

/* RESUME SECTION */

.resume {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#hm-resume {
  width: auto;
  max-height: 800px;
  border-radius: 5%;
}